body{
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    
    background-color:#ddd ;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 5px 10px #ddd;
    margin: auto;
    
    
    
}
#br span{
    font-weight: bolder;
    opacity: 0.5;
    color: black;
    
}
nav .links{
    float: right;
    letter-spacing: 2px;
    margin:0;
    padding: 0;
    text-decoration: none;
    
    
}
nav .links a{
    text-decoration: none;
    color: black;
    margin:15px;
}
.links a:hover{
    background-color: grey;
    text-decoration: underline yellow;  
}
nav #br{
    text-decoration: none;
    color: black;
    margin: 15px;
}
#br:hover{
    background-color: grey;
    text-decoration: underline yellow;
}

.header img{
    width: 80%;
    margin: 100px;

}
.header h1{
    position: absolute;
    top: 45%;
    right:40%;
}
.header  h1 #x{
    opacity: 0.7;
    color:whitesmoke;
    background-color: black;
}
.house{
    float: right;
    margin: 1%;
    width: calc(92% /4);
    position: relative;
    
}
.house img{
    width: 100%;
}
.house p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: beige;
    font-size: 14px;
    padding: 10px;
    transition: 1s;
    
}
.house p:hover{
    transform: translate(5px);
    cursor: pointer;
}



#section-two{
    width: 100%;
    
    
}
#section-two p{
margin-left: 18px ;
font-size: small;
}
#section-two h1{
    margin-left: 18px;
    font-size: large;
}
.team{
    float: right;
    margin: 1%;
    width: calc(92% /4);
    margin-left: 5px;
}
.team img{
    width: 200px;
}
.team button{
    background-color:#ddd;
    width: 80%;
    border: none;
}
.team button:hover{
    background-color: gray;
    cursor: pointer;
}
.teams{
    background-color: #c7b2b2;
    padding-left: 2px;
}

.contact form input{
    width: 70%;
    margin: 1%;
    background-color: #ddd;
    margin-left:100px ;
    border:none
    
    
}
.contact button{
    margin: 2%;
    background-color: black;
    color: white;
}
.contact button:hover{
    cursor: pointer;
    background-color:gray;
}
.map{
    width: 100%;
}
.map img{
    width: 80%;
    margin: 100px;
}
.foot{
    background-color: black;
    height: 80px;
    width: 80%;
    color: white;
    margin-left: 10%;
    position: relative;
    margin-top: 50px;
    
}
.foot span{
    position: absolute;
    top: 30px;
    left: 50%;
    font-size: small;
    font-weight: lighter;
}